[submodule "front"]
	path = front
	url = ./shark-front
[submodule "back"]
	path = back
	url = ./shark-back
[submodule "db"]
	path = db
	url = ./shark-db
[submodule "web"]
	path = web
	url = ./shark-web