[submodule "front"]
	path = front
	url = ./front-shark
[submodule "back"]
	path = back
	url = ./back-shark
[submodule "db"]
	path = db
	url = ./db-shark
[submodule "web"]
	path = web
	url = ./web-shark