[submodule "front"]
	path = front
	url = https://github.com/tomo1227/shark-front
[submodule "back"]
	path = back
	url = https://github.com/tomo1227/shark-back
[submodule "db"]
	path = db
	url = https://github.com/tomo1227/shark-db
[submodule "web"]
	path = web
	url = https://github.com/tomo1227/shark-web